<script>
function likeGame(id){
	$.post("command/command_base.php?mod=game&action=like", {
		gameid : id,
		username:$("#username").val()
	}, function(data) {
		$("#likeval").html(data);
	}, "html");
}
function dislikeGame(id){
	$.post("command/command_base.php?mod=game&action=dislike", {
		gameid : id,
		username:$("#username").val()
	}, function(data) {
		$("#dislikeval").html(data);
	}, "html");
}
</script>

<body youdao="bind" ryt12173="1">
	<div class="container">
	
		<h1>{$gamecontent['title']}</h1>


<table class="table table-striped">
		<tbody>
			<tr>
			<td>图片</td>
				<td>
				游戏名称
				<td>
				发布时间
				</td>
				<td>
				关键词
				</td>
			</tr>
			<!--{loop $ret $key $value}-->
			<tr id="tr_{$value['_id']}">
			<td>
			<img src="$value['homeimg']"/>
			</td>
				<td>
				<a href="index.php?showpage=gamenow&gameid={$value['_id']}">
				$value['title']</a>
				<td>
				$value['showtime']
				</td>
				<td>
				$value['type']
				</td>
			</tr>
			<!--{/loop}-->
		</tbody>
	</table>

		<div style="clear:both;"></div>
		
	</div>
</body>