<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>兴趣图谱_首页</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="html/dist/css/bootstrap.min.css">
<script src="html/js/jquery-1.7.1.min.js"></script>
<script src="html/js/jquery.rotate.js"></script>
<script src="html/dist/js/bootstrap.min.js"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="html/dist/html5shiv.min.js"></script>
      <script src="html/dist/respond.min.js"></script>
<![endif]-->
</head>
  <div class="login_top navbar navbar-inverse navbar-fixed-top" style='height:50px'>
         <div class="container">
		    <div class="row">            
                <div class="pull-left logo">
                    <a href="index.php" style="z-index:10000">
                       <img src="image/party_03.png" style='height:50px'>
                    </a>
                </div>
                <div class="login_navbar" style="padding-left:120px">
                <p class="navbar-text pull-left" style="padding-left:20px"><a href="index.php">首页</a></p>
               	 <p class="navbar-text pull-left" style="padding-left:20px"><a href="index.php?showpage=help">帮助</a></p>
                 <p class="navbar-text pull-left" style="padding-left:20px"><a href="index.php?showpage=home">关于</a></p>
                </div>
            </div>
         </div>
    </div>
    <div style="height:50px;"></div>
    <script>
function showlogo(){
	$("#logo_index").animate({marginTop:"0px"});
}
function hidelogo(){
	$("#logo_index").animate({marginTop:"-50px"});
}
</script>