
  <form class="form-horizontal">
    <fieldset>
      <div id="legend" class="">
        <legend class="">ABC</legend>
      </div>
    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">Text input</label>
          <div class="controls">
            <input type="text" placeholder="placeholder" class="input-xlarge">
            <p class="help-block">Supporting help text</p>
          </div>
        </div>

    <div class="control-group">

          <!-- Search input-->
          <label class="control-label">Search input</label>
          <div class="controls">
            <input type="text" placeholder="placeholder" class="input-xlarge search-query">
            <p class="help-block">Supporting help text</p>
          </div>

        </div>

    <div class="control-group">

          <!-- Prepended text-->
          <label class="control-label">Prepended text</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">^_^</span>
              <input class="span2" placeholder="placeholder" id="prependedInput" type="text">
            </div>
            <p class="help-block">Supporting help text</p>
          </div>

        </div>

    </fieldset>
  </form>
