<body>
	<style>
.infoSmall {
	color: #999999;
	font-size: 14px;
}
</style>
<div class="container">
<h1>游戏帮助</h1>
<p class="lead">最新最炫的游戏都在这里，快来看看她们什么怎么玩吧！</p>
<a href="index.php">返回</a>
<hr/>
	<h2>
		谁是卧底<small>4~12人</small>
	</h2>
	<p class='infoSmall'>风靡一时的聚会类游戏，聚会类游戏首选！</p>
	<p class="lead">游戏规则:</p>
	<ol>
		<li>选择参与人数与卧底人数开始游戏</li>
		<li>每人需记得自己的词语和编号</li>
		<li>依次描述自己的词语</li>
		<li>每轮描述结束后，投票选出卧底</li>
		<li>剩余玩家继续描述</li>
	</ol>
	<p class="lead">胜利条件:</p>
	<ol>
		<li>卧底全部被指认出，平民胜利</li>
		<li>卧底人数大于等于平民数目时，卧底胜利</li>
		<li>游戏进行超过3轮，卧底胜利</li>
	</ol>

	<h2>
		杀人游戏<small>6~16人</small>
	</h2>
	<p class='infoSmall'>什么是杀人游戏？别担心，这里没有任何暴力或其它不良成分，只是一种纯粹斗智的游戏！</p>
	<p class="lead">参与人数:</p>
	<ol>
		<li>总玩家数(包括法官)</li>
		<li>平民人数：总玩家人数1/2</li>
		<li>警察人数：总玩家人数1/4</li>
		<li>杀手人数：总玩家人数1/4</li>
	</ol>

	<p class="lead">游戏规则:</p>
	<ol>
		<li>抽到法官的玩家引导游戏进行,引导杀手杀人、警察验人、全民投票等行为进行</li>
		<li>游戏分类天黑及天亮阶段</li>
		<li>天黑的时候，所有玩家闭眼低头，法官引导杀手杀人、警察验人</li>
		<li>天亮的时候，法官公布被杀的人及依次全民投票</li>
		<li>被杀掉的玩家及被公投的玩家出局，直到杀手被杀光或警察被杀光，游戏结束</li>
	</ol>
	<p class="lead">胜利条件:</p>
	<ol>
		<li>警察全部死光：杀手胜</li>
		<li>杀手全部死光：平民和警察胜</li>
	</ol>

	<h2>
		有胆量就点<small>2~10人</small>
	</h2>
	<p class='infoSmall'>有胆量你就点我吧！看谁最衰！</p>
	<p class="lead">游戏规则:</p>
	<ol>
		<li>系统随机一个数字</li>
		<li>玩家依次点击一次或多次</li>
		<li>当点击次数为随机的数字时，玩家受惩罚</li>
	</ol>


	<h2>
		挤数字<small>2~10人</small>
	</h2>
	<p class='infoSmall'>简单粗暴挤数字，小伙伴们快来开森一下吧！</p>
	<p class="lead">游戏规则:</p>
	<ol>
		<li>系统会随机默认选出一个数字</li>
		<li>玩家轮流点击数字之后，系统会将不包括这个数字的那部分去掉</li>
		<li>激烈的白热化战争之后，最后点中系统选出的数字者接受惩罚</li>
	</ol>



	<h2>
		啤酒瓶<small>2~8人</small>
	</h2>
	<p class='infoSmall'>纯粹随机，考验人品！</p>
	<p class="lead">游戏规则:</p>
	<ol>
		<li>啤酒瓶不断转动，转到的就来接受惩罚吧！</li>
		<li>机会均等，人人有份</li>
	</ol>
	</div>
</body>