<body youdao="bind" ryt12173="1">
    <div class="container">
      <div class="page-header">
        <h1>爱上聚会</h1>
        <p>原名：谁是卧底-爱上聚会</p>
        <p class="lead">一款的多人线下聚会辅助类游戏，这里没广告，只为让大家更好的进行游戏。</p>
        <p>QQ群：78054016</p>
	    <a href="index.php?showpage=help">    <button type="button" class="btn btn-primary">游戏帮助</button></a>
      </div>
      
       

      <h3>基本信息</h3>
      <p>设计人数为<strong>2-16</strong>人游戏，建议在4至10人进行游戏，会更有乐趣，如果人数多些，请选择带快速分词的版本进行。</p>
       <p class="lead">IOS(1.01)：正在审核</p>
       <p class="lead">安卓(2.12)：<a href="http://t.cn/z8JNUKI">360市场</a></p>
       <p class="lead">微信(centerywar)：谁是卧底</p>
       <img src="image/qrcode_for_gh_f07084634d58_258.jpg">
       <p>【二维码请用微信中的发现功能进行扫描】</p>
    <hr>

		<h3>开发人员</h3>
        <p class="lead">万斌-程序</p>
        <p class="lead">曹俊岭-程序</p>
         <p class="lead">刘春龙-程序</p>
         <p class="lead">李金城-程序</p>
         <p class="lead">吴超-程序</p>
         <p class="lead">戴刚刚-程序</p>
         <p class="lead">闫晓庆-美术</p>
         <p class="lead">孙珊珊-美术</p>
         <p class="lead">王婧骋-策划</p>
         <p class="lead">钟金娇-策划</p>
         <hr>


	 <h3>开源信息</h3>
      <p>本程序的所有代码都是开源，先感谢开源社区给我们的支持,我们也将所有代码放在github上了，欢迎大家查看修改。</p>
        <p class="lead">IOS：<a href="https://github.com/CenturyWarDesign/UndercoverIOS.git">UndercoverIOS.git</a></p>
        <p class="lead">安卓：<a href="https://github.com/wanbin/Undercover.git">Undercover.git</a></p>
         <p class="lead">服务器：<a href="https://github.com/wanbin/CenturyServer.git">CenturyServer.git</a></p>
    <hr>
      <h3>联系方式</h3>
      <p>如果有任何需要的，请与我们联系,我们很期待来自你的声音</p>
       <p class="lead">姓名：万斌</p>
       <p class="lead">邮箱：wanbinr@gmail.com</p>
       <p class="lead">电话：13321122731</p>
       <p class="lead">地址：天津市红桥区丁字沽三号路宁城楼</p>
      
      
     <hr>
 	感谢免费项目管理工具<a href="https://tower.im/">Tower</a>
