<body>
	<div style='background-color: #454853; margin-top: -30px'>
		<div class="container visible-md visible-lg">
			<p style="color: #ffffff; font-size: 120px" class='text-center'>爱上聚会</p>
			<br />
			<p style="color: #ffffff; font-size: 80px" class='text-center'>让聚会充满乐趣</p>
		</div>
		<div class="container visible-sm  visible-xs">
			<h1 style="color: #ffffff;" class='text-center'>爱上聚会</h1>
			<br />
			<h2 style="color: #ffffff; " class='text-center'>让聚会充满乐趣</h2>
		</div>
	</div>
	<div style="background-color: #636368">
		<div class="container">

			<div class="row text-center"
				style='color: #ffffff; padding: 10px; font-size: 20px'>
				<div class="col-md-4">QQ群:78054016</div>
				<div class="col-md-4">微信:centurywar</div>
				<div class="col-md-4">微博:@爱上聚会</div>
			</div>
		</div>
	</div>
	<div class="container">$ret['content']</div>
</body>