
<style>
.row_paddingNo{
	padding-left:0px;
	padding-reight:0px;
margin-left:0px;
	margin-reight:0px;
}
.image_class{
	width:100%;
	max-width:400px;
}
.login_H1{
	font-size:20px;	
}
</style>
<body style="background-color:#eeeeee;padding:0px;margin:0px;" >
	<div class="row">
	 <div class="col-md-12 text-center" ><h3>一款蛮有诚意的游戏</h3> </div>
	</div>
    <div style=" background:#5cbedd;padding:0px;margin:0px">
           <div class="container">
               <div class="row row_paddingNo">
                  <div class="col-md-6 text-center">
                      <img id="sendBtdn" src="http://starry.b0.upaiyun.com//image/01902809353a69885d3c140e0bccfb8e.png" class="image_class" >
                  </div>
                  <div class="col-md-6">
                  <div class="login_H1">12星座性格分类</div>
                  <div class="login_H2">发现与结交有相同兴趣的朋友</div>
                  <div class="login_H2">分享有价值的事物</div>
                  </div>
              </div>
          </div>
    </div>
    <div style=" background:#44ba80">
           <div class="container">
               <div class="row row_paddingNo">
                  <div class="col-md-5 col-md-offset-1">
                  <div class="login_H1">发现与创造</div>
                  <div class="login_H2">发现并创造有价值的信息咨询</div>
                  <div class="login_H2">让我们的互联网生活更有意义</div>
                  </div>
                  <div class="col-md-6  text-center">
                      <img id="sendBtdn" src="http://starry.b0.upaiyun.com//image/835494485e8dcd5aebda64dab665363d.png" class="image_class">
                  </div>
                  </div>
          </div>
    </div>
    <div style=" background:#ae84cf">
           <div class="container">               
              <div class="row row_paddingNo">
                  <div class="col-md-6  text-center">
                      <img id="sendBtdn" src="http://starry.b0.upaiyun.com//image/9e9440594fd25c3fcf1c195a5c08428e.png" class="image_class">
                  </div>
                  <div class="col-md-6">
                  <div class="login_H1">探索社交</div>
                  <div class="login_H2">新的社交方式</div>
                  <div class="login_H2">改变你的交友价值观</div>
                  </div>
              </div>
          </div>
    </div>
    <div style=" background:#e25c5c">
           <div class="container">
               <div class="row row_paddingNo">
                  <div class="col-md-5 col-md-offset-1">
              
                  <div class="login_H1">能量与毁灭</div>
                  <div class="login_H2">无价值的信息将自动销毁</div>
                  <div class="login_H2">高质量的社交平台让我们更有价值</div>
                  
                  </div>
                  <div class="col-md-6  text-center">
                      <img id="sendBtdn" src="http://starry.b0.upaiyun.com//image/6cc3fd9581ce0e08df23dead58b65560.png" class="image_class">
                  </div>
              </div>
          </div>
    </div>
</body>