<script>
function agree(id){
	$.post("command/command_base.php?mod=punish&action=agree", {
		id : id
	}, function(data) {
		if(data!=1){
			alert(data);
		}
		else{
			showGlobalAlert("审核通过");
			$("#content_"+id).hide();
		}
	}, "html");
}
function del(id){
	$.post("command/command_base.php?mod=punish&action=del", {
		id : id
	}, function(data) {
		if(data!=1){
			alert(data);
		}
		else{
		showGlobalAlert("审核未通过");
		$("#content_"+id).hide();
		}
	}, "html");
}

</script>
<div class="container">
	<table class="table table-striped">
		<thead>
			<tr>
				<td>内容</td>
				<td>操作</td>
			</tr>
		</thead>
		<tbody>
			<!--{loop $ret $key $value}-->
			<tr id="content_{$value['_id']}">
				<td  width="90%">
				<!--{if $value['type']=='1'}-->
				<span class="label label-success" style='margin-right:5px'>真心话</span>
				<!--{elseif $value['type']=='2'}-->
				<span class="label label-danger" style='margin-right:5px'>大冒险</span>
				<!--{else}-->
				<span class="label label-info" style='margin-right:5px'>看演技</span>
				<!--{/if}-->
				$value['content']</td>
				<td><button type="button" class="btn btn-primary btn-sm" onclick='agree({$value["_id"]})'>通过</button>	
				<button type="button" class="btn btn-primary btn-sm" onclick='del({$value["_id"]})'>删除</button>
				</td>
			</tr>
			<!--{/loop}-->
		</tbody>
	</table>
</div>
