<script>
function likeGame(id){
	$.post("command/command_base.php?mod=game&action=like", {
		gameid : id,
		username:$("#username").val()
	}, function(data) {
		$("#likeval").html(data);
	}, "html");
}
function dislikeGame(id){
	$.post("command/command_base.php?mod=game&action=dislike", {
		gameid : id,
		username:$("#username").val()
	}, function(data) {
		$("#dislikeval").html(data);
	}, "html");
}
</script>

<body youdao="bind" ryt12173="1">
	<div class="container">
		<a href="index.php?showpage=punishadd">提一个</a>
		<a href="index.php?showpage=punishshenhe">审核</a>
		<table class="table table-striped">
		<tbody>
			<!--{loop $ret $key $value}-->
			<tr>
				<td  width="90%">
				<!--{if $value['type']=='1'}-->
				<span class="label label-success" style='margin-right:5px'>真心话</span>
				<!--{elseif $value['type']=='2'}-->
				<span class="label label-danger" style='margin-right:5px'>大冒险</span>
				<!--{else}-->
				<span class="label label-info" style='margin-right:5px'>看演技</span>
				<!--{/if}-->
				$value['content']</td>
				<td><button type="button" class="btn btn-primary btn-sm" onclick='agree({$value["_id"]})'>喜欢</button>	
				<button type="button" class="btn btn-primary btn-sm" onclick='del({$value["_id"]})'>收藏</button>
				</td>
			</tr>
			<!--{/loop}-->
		</tbody>
	</table>
</div>
		
</body>