<script>
function delgame(id){
	$.post("command/command_base.php?mod=article&action=del", {
		_id:id
	}, function(data) {
		alert(data);
		$("#tr_"+id).fadeOut();
	}, "html");
}
</script>
<div class="container">

	<h3>游戏管理</h3>
	<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" id="se_0"><a href="index.php?showpage=article_edit&type=0">全部</a></li>
  <li role="presentation" id="se_1"><a href="index.php?showpage=article_edit&type=1">游戏</a></li>
  <li role="presentation" id="se_2"><a href="index.php?showpage=article_edit&type=2">帮助</a></li>
</ul>

	<table class="table table-striped">
		<tbody>
			<tr>
				<td>缩略图</td>
				<td>关键字</td>
				<td>标题</td>
				<td>发送时间</td>
				<td>类别</td>
				<td>状态</td>
				<td>次（人）</td>
				<td>操作</td>
			</tr>
			<!--{loop $ret $key $value}-->
			<tr id="tr_{$value['_id']}">
				<td><img src="$value['homeimg']" /></td>
				<td>$value['keyname']</td>
				<td>$value['title']</td>
				<td>$value['showtime']</td>
				<td>$value['typename']</td>
				<td>$value['status']</td>
				<td>$value['readinfo']['count']($value['readinfo']['people'])</td>
				<td>
					<button type="button" class="btn btn-default btn-sm"
						onclick='delgame({$value["_id"]})'>删除</button> <a
					href="index.php?showpage=article_new&id={$value['_id']}">编辑</a>
				</td>
			</tr>
			<!--{/loop}-->
		</tbody>
	</table>
	<nav>
		<ul class="pagination">
			<li><a href="index.php?showpage=article_edit&page=1&type={$type}">1</a></li>
			<li><a href="index.php?showpage=article_edit&page=2&type={$type}">2</a></li>
			<li><a href="index.php?showpage=article_edit&page=3&type={$type}">3</a></li>
			<li><a href="index.php?showpage=article_edit&page=4&type={$type}">4</a></li>
			<li><a href="index.php?showpage=article_edit&page=5&type={$type}">5</a></li>
		</ul>
	</nav>
	<a href="index.php?showpage=article_new">新建</a>
</div>
<script>
$("#se_"+{$type}).addClass("active");
</script>