<script>
function delgame(id){
	$.post("command/command_base.php?mod=game&action=del", {
		_id:id
	}, function(data) {
		alert(data);
		$("#tr_"+id).fadeOut();
	}, "html");
}
</script>
<div class="container">

<h3>游戏管理</h3>
	<table class="table table-striped">
		<tbody>
			<tr>
				<td>
				缩略图
				</td>
				<td>
				标题
				<td>
				发送时间
				</td>
					<td>
				状态
				</td>
					<td>
				操作
				</td>
			</tr>
			<!--{loop $ret $key $value}-->
			<tr id="tr_{$value['_id']}">
			<td>
				<img src="$value['homeimg']"/>
				</td>
				<td>
				$value['title']
				<td>
				$value['showtime']
				</td>
					<td>
				$value['status']
				</td>
				<td>
					<button type="button" class="btn btn-default btn-sm" onclick='delgame({$value["_id"]})'>删除</button>
					<a href="index.php?showpage=game_new&id={$value['_id']}">编辑</a>
				</td>
			</tr>
			<!--{/loop}-->
		</tbody>
	</table>
    <a href="index.php?showpage=game_new">新建</a>
</div>