<script>
function changetoint(){
	$.post("command/command_base.php?mod=punish&action=changetoint", {
	}, function(data) {
		alert(data);
	}, "html");
}
function agree(id){
	$.post("command/command_base.php?mod=punish&action=agree", {
		id : id,
		type:1
	}, function(data) {
		alert(data);
		$("#content_"+id).hide();
	}, "html");
}
function disagree(id){
	$.post("command/command_base.php?mod=punish&action=agree", {
		id : id,
		type:2
	}, function(data) {
		alert(data);
		$("#content_"+id).hide();
	}, "html");
}


function del(id){
	$.post("command/command_base.php?mod=punish&action=del", {
		id : id
	}, function(data) {
		alert(data);
		$("#content_"+id).hide();
	}, "html");
}
function update(id){
	var content=$("#punish_"+id).val();
	var type=$("#select_"+id).val();
	$.post("command/command_base.php?mod=punish&action=update", {
		id : id,
		content:content,
		type:type
	}, function(data) {
			alert(data);
	}, "html");
}
var page={$page};

function pageBefore(){
	if(page>1){
		page--;
	}
	gopage(page);
}
function gopage(showpage){
	window.location.href="index.php?showpage=punish_edit&type="+{$type}+"&page="+showpage;
}

function pageNext(){
	page++;
	gopage(page);
}

function selectchange(id){
	var type=$("#select_"+id).val();
}
</script>
<div class="container">
<h3>真心话大冒险管理</h3>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" id="se_0"><a href="index.php?showpage=punish_edit&type=0">审核</a></li>
  <li role="presentation" id="se_-1"><a href="index.php?showpage=punish_edit&type=-1">全部</a></li>
  <li role="presentation" id="se_10"><a href="index.php?showpage=punish_edit&type=10">未分类</a></li>
  <li role="presentation" id="se_11"><a href="index.php?showpage=punish_edit&type=11">真心话</a></li>
  <li role="presentation" id="se_12"><a href="index.php?showpage=punish_edit&type=12">大冒险</a></li>
  <li role="presentation" id="se_13"><a href="index.php?showpage=punish_edit&type=13">看演技</a></li>
  <li role="presentation" id="se_2"><a href="index.php?showpage=punish_edit&type=2">审核未通过</a></li>
</ul>

	<table class="table table-striped">
		<tbody>
			<!--{loop $ret $key $value}-->
			<tr id="content_{$value['_id']}">
				<td style='width:100px'>
					{$value['typehtml']}
					</td>
					<td>
					 <input  class="form-control" id="punish_{$value['_id']}" value="{$value['content']}">
				</td>
				<td>
				<div class="btn-group  btn-group-xs  pull-right " style='width:170px'>
				<button type="button" class="btn btn-success btn-sm" onclick='update({$value["_id"]})'>更新</button>
				<button type="button" class="btn btn-default btn-sm" onclick='agree({$value["_id"]})'>通过</button>	
				<button type="button" class="btn btn-default btn-sm" onclick='disagree({$value["_id"]})'>未通过</button>	
				<button type="button" class="btn btn-danger btn-sm" onclick='del({$value["_id"]})'>删除</button>
				</div>
				</td>
			</tr>
			<!--{/loop}-->
		</tbody>
	</table>
	<ul class="pager">
		<li><a href="javascript:void(0);" onclick="pageBefore()"
			id="btnBefore">上一页</a></li>
		<li><a href="javascript:void(0);" onclick="pageNext()">下一页</a></li>
	</ul>
	<button type="button" class="btn btn-default btn-sm" onclick='changetoint()'>格式化字段类型</button>
</div>
<script>
$("#se_"+{$type}).addClass("active");
</script>